@tailwind base;
@tailwind components;
@tailwind utilities;

.green{
    box-shadow: 0px 1px 6px 4px rgba(115, 253, 170, 0.89)
}
#root{
    display: flex;
    justify-content: center;
    background-color: black;
}
html{
    font-family: 'Karla';
    background-color: black;

}
.mygtukas-clicked{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3vw;
    height: 3vw;
    padding: 15px;
    margin:5px;
    border-radius: 10px;
    /* background-color: white; */
     box-shadow: 0px 1px 6px 4px rgba(115, 244, 236, 0.89);
    color: rgb(255, 255, 255);
}

.mygtukas{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3vw;
    height: 3vw;
    padding: 15px;
    margin:5px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.89);
    color: white;
}
.mygtukas:hover{
    box-shadow: 0px 1px 6px 4px rgba(255, 255, 255, 0.49)
}
.kontainer{
    display: flex;
    flex-direction: column;
    width: min-content;
    box-shadow: 1px -2px 28px 3px rgba(115, 244, 236, 0.98);
    border-radius: 20px;
    padding: 30px;
    margin-top: 40px;
    
}
.play-pause{
    margin-right: 50%;
    margin-bottom: 30px;
}
.play{
    border-radius: 10px;
    background-color: black;
    color: white;
    padding: 5px 10px;
    border: 1px solid #4d9e64;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 0px 1px 6px 4px rgba(115, 244, 236, 0.49)
}
.pause{
    border-radius: 10px;
    background-color: black;
    color: white;
    padding: 5px 10px;
    border: 1px solid #9e4d60;
    margin-right: 10px;
    box-shadow: 0px 1px 6px 4px rgba(253, 115, 115, 0.49)
}
.pause:hover{
    box-shadow: 0px 1px 6px 4px rgba(253, 115, 115, 0.89)
}
.play:hover{
    box-shadow: 0px 1px 6px 4px rgba(115, 244, 236, 0.89)
}
.mygtukas--container{
    display: flex;
    justify-content: flex-start;
}
  
input{
    color: black;
    
}
.--octave{
    color: white;
    width: auto;

}
.mui--buttons{
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 30px;
}
#standard-number-label, #outlined-number-label{
    color: white;
}

@media only screen and (max-width:650px){
    .mygtukas--container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        /* background-color: blueviolet; */
        margin-top: 30px;
    }
    #root{
        display: block;
    }
    .kontainer{
        width: auto;
        margin: 15px;
    }
    .mui--buttons{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap:30px;
        padding-left: 7%;
        padding-right: 7%;
        padding-bottom: 10%;
    }
    .--octave{
        margin: 0;
    }
    .mygtukas{
        width:auto;
        height: 50px;
    }
    .mygtukas-clicked{
        width:auto;
        height: 50px;
    }
    .play-pause{
        margin: 0;
        display: flex;
        justify-content: center;
    }
    .play{
        width: 80%;
    }
    .pause{
        width: 80%;
    }
}